/* 
COLORS:
Rich Black: #000510
Cultured (White): #F3F3F3
Tyrian Purple: #5F0F40
Ruby Red: #9A031E
Dark Orange: #FB8B24
Spanish Orange: #E36414 
Midnight Green Eagle Green: #0F4C5C
 */

$black: #000510;
$grey: #e0e0e0;
$dark-grey: #999;
$dark-grey-1: #333;
$white: #f3f3f3;

$purple: #5f0f40;
$red: #9a031e;
$light-orange: #ffb900;
$dark-orange: #ce4b05;
$green: #0f4c5c;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Font
$default-font-size: 1.6rem;

// $light-orange: #fb8b24;
// $dark-orange: #e36414;

// $purple: #5f0f40;
// $green: #0f4c5c;

// $green: #0f4c5c;
// $light-orange: #fb8b24;
